{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">

  <!-- Page Title -->
  <title>Hydrotracker - Just another tracker</title>

  <!-- Meta Tags -->
  <meta name="description" content="Hydrotracker - Just another tracker">
  <meta name="keywords" content="hydroponic, tracker, veggies">
  <meta name="author" content="cbaezp">

  <!-- Viewport Meta-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Template Favicon & Icons Start -->
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" >
  <!-- Template Favicon & Icons End -->


  <!-- Facebook Metadata End -->

  <!-- Template Styles Start -->
  <link rel="stylesheet" href="{% static 'css/landing/loaders/loader-color-1.css' %}" />
  <link rel="stylesheet" href="{% static 'css/landing/plugins.css' %}" />
  <link rel="stylesheet" href="{% static 'css/landing/main.css' %}" />
  <link rel="stylesheet" href="{% static 'css/landing/colors/color-1.css' %}" />
  <!-- Template Styles End -->

  <!-- Custom Browser Color Start -->
  <meta name="theme-color" content="#0c0426">
  <meta name="msapplication-navbutton-color" content="#0c0426">
  <meta name="apple-mobile-web-app-status-bar-style" content="#0c0426">
  <!-- Custom Browser Color End -->
</head>
<body>

    <!-- Loader Start-->
    <div class="loader">
      <div class="loader__content">
        <div class="loader__logo fadeIn">
          <!-- Your Logo Here -->
          <img src="{% static 'images/logo.svg' %}"  alt="Logo">
        </div>
      </div>
    </div>
    <!-- Loader End-->

    <!-- Navigation Start -->
    <nav id="menu" class="menu">
      <div class="menu__container">

        <!-- Navigation Close Button Start -->
        <a id="menu-close" class="section-close light" href="#0"><span></span></a>
        <!-- Navigation Close Button End -->

        <!-- Navigation Content Start -->
        <div class="menu__content fullheight">

          <!-- Menu List Start -->
          <ul class="navigation">
            <li class="light transition-el transition-el-1">
              <a id="home-trigger" href="#0">Home</a>
            </li>
            <li class="light transition-el transition-el-2">
              <a id="about-trigger" class="inner-link" href="#0">About</a>
            </li>
            <li class="light transition-el transition-el-3">
              <a href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="light transition-el transition-el-4">
              <a href="{% url 'account_signup' %}">Signup</a>
            </li>
          </ul>
          <!-- Menu List End -->

          <!-- Menu Data Line Start -->
          <div class="dataline opacity-el opacity-el-1">
            <div class="container-fluid px-0">
              <div class="row gx-0">
                <div class="col-12 col-xl-6 text-align-left">
                  <ul class="socials-text light">
                    <li>
                      <a href="https://github.com/cbaezp/hydrotracker" target="_blank">Github</a>
                    </li>

                  </ul>
                </div>

              </div>
            </div>
          </div>
          <!-- Menu Data Line End -->

        </div>
        <!-- Navigation Content End -->

      </div>
    </nav>
    <!-- Navigation End -->

    <!-- Rotate Object Start -->

    <!-- Rotate Object End -->

    <!-- Main Section Start -->
    <section id="main" class="main">
      <div class="container-fluid p-0 fullheight">
        <div class="row g-0 fullheight">

          <!-- Main Section Content Start -->
          <div class="col-12 col-xl-6 main__content">

            <!-- Main Header Start -->
            <div class="main__header">
              <div class="header__container">
                <div class="header__content">
                  <!-- logo -->
                  <div class="logo">
                    <img src="{% static 'images/logo.svg' %}" alt="Logo">
                  </div>
                  <!-- menu trigger -->
                  <a href="#0" id="menu-trigger" class="menu-trigger"><span></span></a>
                </div>
              </div>
            </div>
            <!-- Main Header End -->

            <!-- Main Headline Start -->
            <div class="main__headline">
              <div class="headline__content">
                <span class="headline__subtitle light loading-el loading-el-1">Track it all</span>
                <h1 class="animated-headline light loading-el loading-el-2">
                  <span id="typed-strings">
                    <b>Germinating</b>
                    <b>Growing</b>
                    <b>Done.</b>
                  </span>
                  <span id="typed"></span>
                </h1>
                <p class="headline__text light loading-el loading-el-3">Just a random hydroponic tracker. It's free. Not much to say about it. 
                </p>
                <div class="headline__btnholder loading-el loading-el-4">
                  <a href="{% url 'account_signup' %}" class="btn btn-solid" >
                    <span class="btn-caption">Sign up</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- Main Headline End -->


            <!-- Main Socials Text Start -->
            <div class="main__dataline">
              <div class="container-fluid px-0">
                <div class="row gx-0">
                  <div class="col-12 col-xl-6 text-align-left">
                    <ul class="socials-text light">
                      <li>
                        <a href="https://github.com/cbaezp/hydrotracker" target="_blank">Github</a>
                      </li>

                    </ul>
                  </div>

                </div>
              </div>
            </div>
            <!-- Main Socials Text End -->

          </div>
          <!-- Main Section Content End -->

          <!-- Main Section Media Start -->
          <div class="col-12 col-xl-6 main__media">

            <!-- Main Media Content Start -->
            <div class="mainmedia__container">
              <div class="mainmedia__content">

                <!-- Section Image Background Start -->
                <div>

                  <img src="{% static 'images/landing/lettuce.png' %}" alt="Lettuce">



                </div>
                <!-- Section Image Background End -->

              </div>
            </div>
            <!-- Main Media Content End -->

            <!-- Copyright Start -->
            <div class="mainmedia__copyright">
              <p class="additional-text">Developed with
                <i class="fa-solid fa-heart"></i>
                by
                <a class="light" href="https://github.com/cbaezp/hydrotracker" target="_blank">cbaezp</a>
              </p>
            </div>
            <!-- Copyright End -->

          </div>
          <!-- Main Section Media End -->

        </div>
      </div>
    </section>
    <!-- Main Section End -->

    <!-- About Section Start -->
    <section id="about" class="inner about">
      <div class="container-fluid p-0 fullheight">
        <div class="row g-0 flex-xl-row-reverse fullheight">

          <!-- Section Content Start -->
          <div class="col-12 col-xl-6 inner__content">

            <!-- Section Close Button Start -->
            <a id="about-close" class="section-close" href="#0"><span></span></a>
            <!-- Section Close Button End -->

            <!-- Section Content Block Start -->
            <div class="inner__block bg-medium">

              <!-- Section Container - Section Title Start -->
              <div class="inner__container">
                <h2>About</h2>
                <span class="section__subtitle">Because excel is boring</span>
                <p class="section__text"> Don't want to write the whole thing. Just watch the video.
                </p>
              </div>
              <!-- Section Container - Section Title End -->



            </div>
            <!-- Section Content Block End -->

            <!-- Section Content Block Start -->
            <div class="inner__block bg-dark">

              <!-- Section Container - Features Start -->
              <div class="inner__container grid-block">
                <div class="container-fluid px-4">
                  <div class="row gx-5">
                    <!-- YouTube Video Embed -->
                    <div class="col-12">
                      <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/[VIDEO_ID]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Section Container - Features End -->

            </div>
            <!-- Section Content Block End -->

            <!-- Section Content Block Start -->
            <div class="inner__block bg-medium bg-image-bottom">

              <!-- Section Container - Blockquote Start -->

              <!-- Section Container - Blockquote End -->

            </div>
            <!-- Section Content Block End -->

          </div>
          <!-- Section Content End -->

          <!-- Section Media Start -->
          <div class="col-12 col-xl-6 inner__media">

            <!-- Section Media Content Start -->
            <div class="media__container">
              <div class="media__content">

                <!-- Section Image Background Start -->
                <div>
                  <img src="{% static 'images/landing/lettuce.png' %}" alt="Lettuce">
                </div>
                <!-- Section Image Background End -->

              </div>
            </div>
            <!-- Section Media Content End -->

            <!-- Copyright Start -->
            <div class="media__copyright">
              <p class="additional-text light">Developed with
                <i class="fa-solid fa-heart"></i>
                 by
                <a class="light" href="https://github.com/cbaezp/hydrotracker" target="_blank">cbaezp</a>
              </p>
            </div>
            <!-- Copyright End -->

          </div>
          <!-- Section Media End -->

        </div>
      </div>
    </section>
    <!-- About Section End -->





    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

      <!-- Background of PhotoSwipe.
      It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div>

      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

          <div class="pswp__top-bar">

            <!--  Controls are self-explanatory. Order can be changed. -->

            <div class="pswp__counter"></div>

            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

            <button class="pswp__button pswp__button--share" title="Share"></button>

            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader-active when preloader is running -->
            <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
            </div>
          </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

      </div>

    </div>

    <!-- Load Scripts Start -->
    <script src="{% static 'js/landing/libs.min.js' %}"></script>
    <script src="{% static 'js/landing/gallery-init.js' %}"></script>
    <script src="{% static 'js/landing/custom.js' %}"></script>
    <!-- Load Scripts End -->

  </body>

  </html>





