{% extends "dashboard/base.html" %}

{% block inner %}
<div class="container mt-3">
    <h2>{{ form.instance.pk|yesno:"Edit Germination Tray,Add Germination Tray" }}</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Name:</label>
            <input type="text" class="form-control" id="id_name" name="name" value="{{ form.instance.name }}">
        </div>
        <div class="form-group">
            <label for="id_x_size">Number of Columns:</label>
            <input type="number" class="form-control" id="id_x_size" name="x_size" value="{{ form.instance.x_size }}">
        </div>
        <div class="form-group">
            <label for="id_y_size">Number of Rows:</label>
            <input type="number" class="form-control" id="id_y_size" name="y_size" value="{{ form.instance.y_size }}">
        </div>
        <button type="submit" class="btn btn-primary">{{ form.instance.pk|yesno:"Update,Create" }}</button>
        <a href="{% url 'tracker:seed_tray_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock inner %}