{% extends "dashboard/base.html" %}

{% block inner %}
<div class="container mt-3">
    <h2>{{ form.instance.pk|yesno:"Edit Hydroponic System,Add Hydroponic System" }}</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Name:</label>
            <input type="text" class="form-control" id="id_name" name="name" value="{{ form.instance.name }}" required>
        </div>
        <div class="form-group">
            <label for="id_x_size">X Size:</label>
            <input type="number" class="form-control" id="id_x_size" name="x_size" value="{{ form.instance.x_size }}" required>
        </div>
        <div class="form-group">
            <label for="id_y_size">Y Size:</label>
            <input type="number" class="form-control" id="id_y_size" name="y_size" value="{{ form.instance.y_size }}" required>
        </div>

        <button type="submit" class="btn btn-primary">{{ form.instance.pk|yesno:"Update,Create" }}</button>
        <a href="{% url 'tracker:hydroponic_grower_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock inner %}
